<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.payridedrivers.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="true"
      android:requestLegacyExternalStorage="true" >

      <!-- <service android:name="com.asterinet.react.bgactions.RNBackgroundActionsTask" /> -->

      <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
      <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

      <meta-data android:name="MAPBOX_ACCESS_TOKEN" android:value="pk.eyJ1IjoicGF5cmlkZW1hcCIsImEiOiJjbGxzN2tjZjgwdDZhM3VucjAyZXY3aTV2In0.nfcRoh9VE-SjgBEf6BWjnw" />
     
      <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="AIzaSyCBG2HhzzHRyfNbEmyyc8xt9ZITVvYUhzQ"/>
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:windowSoftInputMode="adjustResize"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
          android:exported="true">


        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />


        </intent-filter>
          <intent-filter android:label="@string/app_name">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <!-- Accepts URIs that begin with "example://gizmos” -->
              <data android:scheme="app"
                    android:host="payride" />
          </intent-filter>
      </activity>
     <service android:name="com.asterinet.react.bgactions.RNBackgroundActionsTask" />

    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <!-- If you don't know the MIME type in advance, set "mimeType" to "*/*". -->
            <data android:mimeType="application/pdf" />
        </intent>
    </queries>
</manifest>
